/* .hide{

} */
.back{
    background-color: rgb(247, 218, 243);
}

.cell{
    width: 25px;
    height: 25px;
    border-style: outset;
    background-color: #de22a88f;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    /* background-image: url(/img/close.png) */

}

.cell:active{
    background-color:#6b044ee7;
    box-shadow: 0 1px #666;
    /* transform: translateY(1px); */
} 

.clicked{
    width: 25px;
    height: 25px;
    border-style: outset;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    background-color:#6b044ee7;
    color:white;
}
 
.game-over{
    display: none;
    width: 150px;
    padding: 12px;
    background-color: #f30b50;
    border-style: double;
    margin-top: 10px;
    text-align: center;
    font-size: 26px;
    border-radius: 57px;
    margin: auto;
    border-width: 5px;
}

.win{
    display: none;
    width: 150px;
    padding: 12px;
    background-color: #f30b50;
    border-style: double;
    margin-top: 10px;
    text-align: center;
    font-size: 26px;
    border-radius: 57px;
    margin: auto;
    border-width: 5px;
}

.start{
    display: none;
    margin: auto;
    padding: 5px;
    margin-bottom: 11px
}


button{
    background-color:rgba(243, 191, 227, 0.966);
    border-style: outset;
    border-color: deeppink;
    cursor: pointer;
    border-radius: 4px;
}

.hint-clicked{
    background-color:rgba(109, 2, 77, 0.966);
}

.smile{
    padding: 0px;
    padding-right: 3px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 33px;
    width: 42px;
    border-style: outset;
    background-color:rgb(241, 134, 191) ;
}

.smile:active{
    background-color:#6b044ee7;
    box-shadow: 0 1px #666;
}

.timer{
    background-color:#ef12b0 ;
    width: 217px;
    height: 23px;
    text-align: center;
    margin: auto;
    font-size: 20px;
    border-style: outset
}

.scores{
    margin: auto;
    width: 216px;
    padding: 12px
}

.score{
    background-color:#ef12b0 ;
    padding: 0px 5px;
    text-align: center;
    margin: auto;
    font-size: 20px;
    border-style: outset
}

.lives{
    font-size: 30px;
    text-align: center;
    width: 161px;
    border-width: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.game-board{
    border: 10px;
}

table{
    border: 2px;
    border-style: outset;
    margin: auto;
    margin-top: 10px;
}

.levels{
    width: 350px;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px
}

.level{
    padding: 10px 30px;
}

.hints{
    width: 165px;
    margin: auto;
}

.hint{
    padding: 3px 10px;
    font-size: 27px;
    margin-right:3px;
}

.start-page{
    margin: auto;
}